
.errorDiv {
  /* margin-top: 100px; */
  text-align: center;
}

.btn {
  font-weight: bold;
}

.errorDiv h1 {
  /* font-weight: bold; */
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-bottom: 110px;
  background-color: white;
  opacity: 0.8;
  
}

.errorDiv p {
  font-weight: bold;
  font-size: 15px;
  margin-top: -30px;
  
}

.errorImage {
  margin-top: 100px;
  height: 290px;
  width: 350px;
  margin-bottom: 20px;
}
